---
import Base from "@/layouts/Base.astro";
import { markdownify } from "@/lib/utils/textConverter";
import CallToAction from "@/partials/CallToAction.astro";
import PageHeader from "@/partials/PageHeader.astro";
import type { Button, Feature } from "@/types";
import { Image } from "@astrojs/image/components";
import { getEntryBySlug } from "astro:content";

type Props = {

}
const {} = Astro.props
const call_to_action = await getEntryBySlug("sections", "call-to-action");

---
<Base>
  <div class="bg-theme-light dark:bg-darkmode-theme-light py-20 mb-10">
    <div class="max-w-6xl mx-auto px-4">
      <div class="grid grid-cols-1 text-center">
          <h1 class="text-4xl md:text-5xl font-bold mb-4">Discover the Perfect Shoes</h1>
          <p class="text-lg md:text-xl mb-6">Step out in style with our latest collection.</p>
      </div>
    </div>
  </div>
  
  <div class="container">
    <div class="grid md:grid-cols-2 gap-4 mb-10">
      <div class="p-4">
        <img src="/images/low-classics-dq.png" alt="low-classics-dq" class="w-full mb-2">
        <h3 class="text-lg font-semibold">Low Classics DQ</h3>
        <p class="text-gray-600">$90.00</p>
      </div>
      <div class="p-4">
        <img src="/images/qs-707.png" alt="qs-707" class="w-full mb-2">
        <h3 class="text-lg font-semibold">Q's-707</h3>
        <p class="text-gray-600">$95.00</p>
      </div>
      <div class="p-4">
        <img src="/images/custom-1.png" alt="Q's Caramel 105" class="w-full mb-2">
        <h3 class="text-lg font-semibold">Q's Caramel 105</h3>
        <p class="text-gray-600">$110.00</p>
      </div>
      <div class="p-4">
        <img src="/images/custom-2.png" alt="DEQ 1607" class="w-full mb-2">
        <h3 class="text-lg font-semibold">DEQ 1607</h3>
        <p class="text-gray-600">$130.00</p>
      </div>
      <!-- Add more shoe items here -->
    </div>
  </div>

  <CallToAction call_to_action={call_to_action}/>
</Base>

